/* Add CSS to hide the dropdown menu by default */
/* Set the dropdown menu to be hidden by default */
.dropdown-menu {
    display: none;
  }
  .menu-left-img {
    position: relative;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    border-radius: 5px;
    background: #13171C;
    /* padding: 10px; */
    width: 87px;
    height: 69px;
flex-shrink: 0;
margin-top: 3px;
}


  .dropdown-item {
    display: block;
    padding: 5px;
    color:white;
    text-decoration: none;
    color: #FFF;
font-family: Montserrat;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  /* Add styles for the icon in the dropdown items */
  .dropdown-item i {
    margin-right: 5px;
  }

  .profile-route-img{

    height: 17.525px;

position: relative;
top: 3px;
  }

  .log-out-icon{

    height: 19.8px;
    position: relative;
    top: 5px;
  }
