@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #040b11;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
header{
    padding: 25px;
    color: #fff;
    font-size: 12px;
}
header > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header > nav > .nav-left {
    display: flex;
    column-gap: 55px;
}
header > nav > .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
}
header > nav > .nav-right i {
    font-size: 16px;
    padding-right: 15px;
}
header > nav > .nav-left .logo-text {
    font-weight: 600;
}
header > nav > .nav-left > ul > li {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    padding-right: 15px;
}
header > nav > .nav-left > ul > li > a {
    text-decoration: none;
    color: #fff;
}
input[type="checkbox"].toggle {
    display: inline;
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}
input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
 input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #13161d;
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out;
}
 input[type="checkbox"].toggle + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: url("../images//dark-mode.svg");
    left: .1em;
    width: 1em;
    height: 1em;
    background-color: #040b11;
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}
 input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color: #ebecec;
    content: "\f185"; /* Unicode character for the sun icon */
    font-family: "Font Awesome 5 Free"; /* Font Awesome Solid font family */
    color: #efb252;
    font-size: 13px;
}
 input[type="checkbox"].toggle:checked + label::before {
    background-color: #fff;
}
 input[type="checkbox"].toggle:checked + label {
    color: #fff;
}
/* toggle-two-starts */
input[type="checkbox"].toggle-two {
    display: inline;
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}
 input[type="checkbox"].toggle-two + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
 input[type="checkbox"].toggle-two + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #13161d;
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out;
}
 input[type="checkbox"].toggle-two + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: url("../images//dark-mode.svg");
    left: .1em;
    width: 1em;
    height: 1em;
    background-color: #040b11;
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}
 input[type="checkbox"].toggle-two:checked + label::after {
    transform: translateX(100%);
    background-color: #ebecec;
    content: "\f185"; /* Unicode character for the sun icon */
    font-family: "Font Awesome 5 Free"; /* Font Awesome Solid font family */
    color: #efb252;
    font-size: 13px;
}
 input[type="checkbox"].toggle-two:checked + label::before {
    background-color: #fff;
}
 input[type="checkbox"].toggle-two:checked + label {
    color: #fff;
}
/* toggle-two-ends */

.move-toggle {
    position: absolute;
    left: 75%;
    top: 50px;
}
.header {
    display: none;
    background-color: #040b11;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 99.9%;
    z-index: 3;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #13161d;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #fff;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #040b11;
    color: #fff;
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 18px;
    padding: 18px 20px;
    text-decoration: none;
    color: #fff;
  }

  /* menu */

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .nav-icon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .header .menu-icon .nav-icon:before,
  .header .menu-icon .nav-icon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu-icon .nav-icon:before {
    top: 5px;
  }

  .header .menu-icon .nav-icon:after {
    top: -5px;
  }
  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 296px;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
  .menu-left-img {
    display: flex;
    column-gap: 5px;
}
.menu-left-img img{
    width: 25px;
    border-radius: 100%;
}
.menu-left-name p {
    color: #fff;
}
.section-two {
    margin-top: 48px;
}
#section-two {
    margin-bottom: 90px;
}
.section-two .history-table {
    background-color: #13161d;
    padding: 25px 20px 32px 20px;
    border-radius: 10px;
    color: #fff;
    overflow-x: auto;
}
.section-two .history-table .table-footer {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 35px;
    padding-top: 35px;
}
.section-two .history-table .table-footer a {
    text-decoration: none;
    background-color: #fff;
    color: #13161d;
    padding: 12px 30px;
    border-radius: 9px;
    font-weight: 400;
}
